[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycryptodome = "*"
autopep8 = "*"
python-dotenv = "*"
pypika = "*"
requests = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3"

[scripts]
generatekeys = "python pennic/generate_keys.py"
benchmark = "python pennic/benchmark.py"
example = "python pennic/chain_example.py"
setup_database = "python pennic/setup_database.py"
node = "python pennic/node.py"
mine = "python pennic/mine.py"